body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #591b1b;
    background-image: url(photo-1581022295087-35e593704911.avif);
    background-repeat: repeat;
    background-size: contain;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d7d1d1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Brush Script MT;
    color: #DC143C;
    
}

.rose-container {
    position: relative;
    cursor: pointer;
}

.rose-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.instruction {
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rose-animation {
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
